In [19]:
import pandas as pd
import ast

df_import = pd.read_csv('import_all_members.csv')

In [20]:
df_export = pd.read_csv('export_all_members.csv')

In [21]:
df_import = df_import.rename(columns ={'Calendar years': 'country'})
df_export = df_export.rename(columns={'Calendar years': 'country'})
df_import.keys()

Index(['country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [22]:
get_cols = ['country', '2019']
import_19 = df_import[get_cols]
export_19= df_export[get_cols]

In [23]:
import_19 = import_19.dropna()
export_19 = export_19.dropna()
export_19

                             country    2019
0                             Angola      23
1   Bolivia (Plurinational State of)      20
2                             Brazil  40,698
3                            Burundi     293
4                           Cameroon     250
5           Central African Republic      19
6                           Colombia  13,672
7                              Congo       0
8                         Costa Rica   1,039
9                      Côte d'Ivoire   2,104
10                              Cuba      22
11      Democratic Republic of Congo     205
12                Dominican Republic      27
13                           Ecuador     506
14                       El Salvador     546
15                 Equatorial Guinea       0
16                          Ethiopia   3,921
17                             Gabon       0
18                             Ghana      10
19                         Guatemala   3,613
20                            Guinea      69
21                            Guyana       1
22                             Haiti       2
23                          Honduras   6,765
24                             India   6,028
25                         Indonesia   6,334
26                           Jamaica       9
27                             Kenya     836
28  Lao People's Democratic Republic     575
29                           Liberia       1
30                        Madagascar       4
31                            Malawi      16
32                            Mexico   2,627
33                             Nepal       1
34                         Nicaragua   2,954
35                           Nigeria       2
36                            Panama      51
37                  Papua New Guinea     787
38                          Paraguay       0
39                              Peru   3,772
40                       Philippines       7
41                            Rwanda     389
42                      Sierra Leone      47
43                         Sri Lanka       1
44                          Tanzania   1,069
45                          Thailand     174
46                       Timor-Leste     117
47                              Togo      58
48                 Trinidad & Tobago       2
49                            Uganda   4,526
50                         Venezuela      53
51                          Viet Nam  27,400
52                             Yemen      12
53                            Zambia      27
54                          Zimbabwe       6

In [24]:
import_19 = import_19[import_19.country != 'European Union']
import_19

                     country    2019
1                    Austria    1448
2                    Belgium    6199
4                   Bulgaria     785
5                    Croatia     466
6                     Cyprus     133
7                    Czechia    1609
8                    Denmark     908
9                    Estonia     148
10                   Finland    1515
11                    France    7993
12                   Germany   22432
13                    Greece    1246
14                   Hungary     773
15                   Ireland     438
16                     Italy   10914
17                    Latvia     235
18                 Lithuania     474
19                Luxembourg     402
20                     Malta      23
21               Netherlands    5354
22                    Poland    4452
23                  Portugal    1220
24                   Romania    1165
25                  Slovakia     773
26                  Slovenia     620
27                     Spain    5984
28                    Sweden    2348
30                     Japan   8,040
31                    Norway     786
32        Russian Federation   5,917
33               Switzerland   3,228
34                   Tunisia     508
35            United Kingdom   5,554
36  United States of America  30,854

In [25]:
import_19['type'] = 'import'
export_19['type'] = 'export'

In [26]:
df_c = pd.concat([import_19, export_19])
df_c

      country    2019    type
1     Austria    1448  import
2     Belgium    6199  import
4    Bulgaria     785  import
5     Croatia     466  import
6      Cyprus     133  import
..        ...     ...     ...
50  Venezuela      53  export
51   Viet Nam  27,400  export
52      Yemen      12  export
53     Zambia      27  export
54   Zimbabwe       6  export

[89 rows x 3 columns]

In [27]:
df_c['2019'] = df_c.apply(lambda r: int(r['2019'].replace(',', '')), axis=1)
df_c

      country   2019    type
1     Austria   1448  import
2     Belgium   6199  import
4    Bulgaria    785  import
5     Croatia    466  import
6      Cyprus    133  import
..        ...    ...     ...
50  Venezuela     53  export
51   Viet Nam  27400  export
52      Yemen     12  export
53     Zambia     27  export
54   Zimbabwe      6  export

[89 rows x 3 columns]

In [28]:
amt = 60
unit = 1000
df_c['kg'] = df_c.apply(lambda r: int(r['2019']) * amt * unit, axis=1)
#import_19['kg'] = import_19.apply(lambda r: int(r['2019']) * amt * unit, axis=1)
#export_19['kg'] = export_19.apply(lambda r: int(r['2019']) * amt * unit, axis=1)
#import_19
df_c

      country   2019    type          kg
1     Austria   1448  import    86880000
2     Belgium   6199  import   371940000
4    Bulgaria    785  import    47100000
5     Croatia    466  import    27960000
6      Cyprus    133  import     7980000
..        ...    ...     ...         ...
50  Venezuela     53  export     3180000
51   Viet Nam  27400  export  1644000000
52      Yemen     12  export      720000
53     Zambia     27  export     1620000
54   Zimbabwe      6  export      360000

[89 rows x 4 columns]

In [29]:
df_imp = df_c[df_c['type'] == 'import']
df_exp = df_c[df_c['type'] == 'export']
len(df_imp)

34

In [30]:
df_imp = df_imp.sort_values(by='2019', ascending=False)
df_timp = df_imp.head(20)
df_timp = df_timp.reset_index()
df_timp

    index                   country   2019    type          kg
0      36  United States of America  30854  import  1851240000
1      12                   Germany  22432  import  1345920000
2      16                     Italy  10914  import   654840000
3      30                     Japan   8040  import   482400000
4      11                    France   7993  import   479580000
5       2                   Belgium   6199  import   371940000
6      27                     Spain   5984  import   359040000
7      32        Russian Federation   5917  import   355020000
8      35            United Kingdom   5554  import   333240000
9      21               Netherlands   5354  import   321240000
10     22                    Poland   4452  import   267120000
11     33               Switzerland   3228  import   193680000
12     28                    Sweden   2348  import   140880000
13      7                   Czechia   1609  import    96540000
14     10                   Finland   1515  import    90900000
15      1                   Austria   1448  import    86880000
16     13                    Greece   1246  import    74760000
17     23                  Portugal   1220  import    73200000
18     24                   Romania   1165  import    69900000
19      8                   Denmark    908  import    54480000

In [31]:
df_exp = df_exp.sort_values(by='2019', ascending=False)
df_texp = df_exp.head(20)
df_texp = df_texp.reset_index()
df_texp

    index                           country   2019    type          kg
0       2                            Brazil  40698  export  2441880000
1      51                          Viet Nam  27400  export  1644000000
2       6                          Colombia  13672  export   820320000
3      23                          Honduras   6765  export   405900000
4      25                         Indonesia   6334  export   380040000
5      24                             India   6028  export   361680000
6      49                            Uganda   4526  export   271560000
7      16                          Ethiopia   3921  export   235260000
8      39                              Peru   3772  export   226320000
9      19                         Guatemala   3613  export   216780000
10     34                         Nicaragua   2954  export   177240000
11     32                            Mexico   2627  export   157620000
12      9                     Côte d'Ivoire   2104  export   126240000
13     44                          Tanzania   1069  export    64140000
14      8                        Costa Rica   1039  export    62340000
15     27                             Kenya    836  export    50160000
16     37                  Papua New Guinea    787  export    47220000
17     28  Lao People's Democratic Republic    575  export    34500000
18     14                       El Salvador    546  export    32760000
19     13                           Ecuador    506  export    30360000

# Get ISOA3

In [16]:
pyc.countries.search_fuzzy('England')[0].alpha_3

NameError: name 'pyc' is not defined

In [ ]:
df_cc = pd.concat([df_texp, df_timp])
df_cc

In [ ]:
df_cc['iso3'] = df_cc.apply(lambda r: pyc.countries.search_fuzzy(r.country)[0].alpha_3, axis=1)
df_cc

## Get centroids of locations

In [ ]:
import geopandas as gpd

In [ ]:
 world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

In [ ]:
world['centroid']=world.apply(lambda r: r.geometry.centroid, axis=1)
world

In [ ]:
# gpd.sjoin(world, df_cc, how='left', op='within')
df_select = world[world.iso_a3.isin(df_cc['iso3'].tolist())]

In [ ]:
df_select = df_select.rename(columns={'iso_a3': 'iso3'})
df_select

In [ ]:
df_final = df_select.merge(df_cc, on='iso3')
df_final.head()

In [ ]:
gdf = df_final.rename(columns={'geometry': 'new_series', 'centroid': 'geometry'})
gdf.set_geometry(col='geometry', inplace=True)
gdf.plot()

In [ ]:
df_world = world[world['continent'] != 'Antarctica']
df_world.plot()

In [ ]:
gdf['color'] = gdf.apply(lambda r: 'goldenrod' if r['type'] == 'import' else 'steelblue', axis=1)
gdf

In [ ]:
import numpy as np

minVal = min(gdf['kg'])
maxVal = max(gdf['kg'])
np.interp(64140000, (minVal, maxVal), (100, 10000))

In [ ]:
gdf['d'] = gdf.apply(lambda r: np.interp(r['kg'], (minVal, maxVal), (10, 1000)), axis=1)
gdf

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(1,1, figsize = (30, 10))
base = df_world.plot(ax=ax, color='#d8d8d8', edgecolor='white')
gdf.plot(ax=base, edgecolor=gdf['color'], linewidth=5, color='none', markersize=gdf['d'], alpha=0.8)

## Turn `gdf` into geojson

https://geoffboeing.com/2015/10/exporting-python-data-geojson/

In [ ]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson